{% extends "base.html" %}
{% block body %}
  <h2>Player Rankings</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('player') }}" method=post>
    <dl>
      <dt>Select game:
      <dd><input type=text name=gamename>
      <dt>Select number: 
      <select name="number">
	<option value="1">Top 1</option>
        <option value="3">Top 3</option>
        <option value="5">Top 5</option>
      </select>	  
      <dd><input type=submit value=Rank>
    </dl>
  </form>
  {% if entries %}
    <ul class=entries>
    <h3>The Best Players for {{ result.gamename }}!</h3>
    <br />
    {% for entry in entries %}
      <h2>{{ entry.name }} &nbsp; &nbsp; {{ entry.phone }} &nbsp; &nbsp; {{ entry.email }}</h2>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
